.ant-layout-footer {
  min-width: 1200px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--footer-text-color);
  background-image: url("~@/assets/img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  .menu-footer {
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    width: 1200px;
    margin: auto;
    > ul {
      flex: 1 1;
      margin-right: 5px;
      margin-bottom: 1em;
      display: block;
      li {
        list-style: none;
        margin-bottom: 0;
        border: 0;
        display: flex;
        &.title {
          color: #fff;
          font-size: 16px;
          cursor: auto;
          img {
            width: 150px;
          }
        }
        &.m {
          line-height: 25px;
          font-size: 12px;
          > a.icon-link {
            width: 32px;
            height: 32px;
            font-size: 32px;
            margin-right: 20px;
            transition: all .3s;
            &:hover {
              color: var(--color-gray);
            }
          }
        }
        &.l {
          line-height: 25px;
          font-size: 12px;
          margin-left: 32px;
          > a.icon-link {
            width: 32px;
            height: 32px;
            font-size: 32px;
            margin-right: 20px;
            transition: all .3s;
            &:hover {
              color: var(--color-gray);
            }
          }
        }
        a {
          text-decoration: none !important;
          &:hover {
            color: var(--blue-color);
          }
        }
      }
      &.contact {
        .m {
          display: block;
        }
        a {
          color: var(--blue-color);
          &:hover {
            color: var(--blue-color);
          }
        }
      }
    }
  }
  .bottom-footer {
    line-height: 56px;
    height: 56px;
    font-size: 14px;
    border-top: 1px solid var(--border-color);
    text-align: center;
  }
}
