.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

.search {
  width: 215px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  input {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 18px;
    background: $bg-color;
    border: 1px solid var(--border-color);
    margin-left: 16px;
    padding: 0 45px 0 25px;
    width: 175px;
    height: 30px;
    color: $input-color;
    font-size: 12px;
  }
  ::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }
  i {
    color: #7c86ad;
    position: absolute;
    font-size: 18px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
  }
}

button {
  background: transparent;
  -webkit-appearance: none;
  border: none;
  outline: none;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  cursor: pointer;
}

*:focus {
  outline: none;
}

.form-row {
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  .form-label {
    color: $footer-text-color;
  }
}

.bg-down {
  background-color: var(--down-color) !important;
}
.bg-up {
  background-color: var(--up-color) !important;
}

.color-loading {
  color: var(--blue-color) !important;
  background-color: var(--blue-color) !important;
  border-color: var(--blue-color) !important;
}

.color-warning {
  color: var(--warning-color) !important;
  background-color: var(--warning-color) !important;
  border-color: var(--warning-color) !important;
}

.color-success {
  color: var(--up-color) !important;
  background-color: var(--up-color) !important;
  border-color: var(--up-color) !important;
}

.color-error {
  color: var(--down-color) !important;
  background-color: var(--down-color) !important;
  border-color: var(--down-color) !important;
}

.text-up {
  color: var(--up-color) !important;

  &.bg-up {
    background-color: var(--up-bg-color) !important;
  }
}

.text-down {
  color: var(--down-color) !important;

  &.bg-down {
    background-color: var(--down-bg-color) !important;
  }
}

button {
  &.bg-down {
    &:hover {
      background-color: #f03e3e !important;
    }
  }
  &.bg-up {
    &:hover {
      background-color: #0ca678 !important;
    }
  }
  &:disabled {
    cursor: not-allowed;
  }
}

dd {
  position: relative;
}

.modal-exchange {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  > div {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    button {
      margin: 0 10px;
    }
  }
  &.transparent {
    background: transparent;
  }
}

html {
  background: var(--bg-color);

  body {
    ::-webkit-scrollbar,
    &::-webkit-scrollbar {
      width: 5px;
      height: 10px;
    }

    ::-webkit-scrollbar-track-piece,
    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
      border-radius: 6px;
    }
  
    ::-webkit-scrollbar-track,
    &:-webkit-scrollbar-track {
      background-color: var(--bg-color);
    }
  
    ::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-thumb {
      height: 5px;
      background-color: var(--bg-downdown-border-color);
      border-radius: 6px;
    }
  }
}

.user-table {
  dt {
    display: flex;
    span {
      flex: 1;
    }
  }
  dd > p {
    display: flex;
    span {
      flex: 1;
    }
  }
}
