.ant-layout-desclaimer {
  min-width: 1200px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 32px;
  margin-top: 16px;
  align-items: center;
  display: flex;
  flex-direction: column;
    .desclaimer{
      max-width: 980px;
      .lists{
      > ul {
        flex: 1 1;
        margin-right: 5px;
        margin-bottom: 1em;
        display: block;
        li {
          list-style-type: disc;
          margin-bottom: 0;
          border: 0;
          display: flex;
          &.title {
            color: #fff;
            font-size: 16px;
            cursor: auto;
            img {
              width: 150px;
            }
          }
          &.m {
            line-height: 25px;
            font-size: 12px;
            > a.icon-link {
              width: 32px;
              height: 32px;
              font-size: 32px;
              margin-right: 20px;
              transition: all .3s;
              &:hover {
                color: var(--color-gray);
              }
            }
          }
          a {
            text-decoration: none !important;
            &:hover {
              color: var(--blue-color);
            }
          }
        }
        &.contact {
          .m {
            display: block;
          }
          a {
            color: var(--blue-color);
            &:hover {
              color: var(--blue-color);
            }
          }
        }
      }
    }
  }
  
}
