.ant-layout-header {
  display: flex;
    align-items: center;
    min-width: 1200px;
    padding: 8px 4%;
    height: 6%;
    line-height: 48px;
    font-size: 14px;
    background: #00235C;
  color: var(--header-text-color);

  &:not(.no-border) {
    border-bottom: 2px solid #2e3485;
  }

  .logo {
    cursor: pointer;

    img {
      height: 80px;
      width: 240px;
    }
  }

  .action-group {
    display: flex;
    align-items: center;
    > * {
      margin: 0 10px;
    }

    &.left {
      margin-left: 15px;
    }

    &.right {
      margin-left: auto;
    }

    a {
      color: var(--header-text-color);
    }

    [class^="auth"] > * {
      display: inline-block;
      margin: 0 10px;
      line-height: 48px;
    }

    [class*="auth"] > * {
      margin: 0 10px;
    }

    button {
      font-size: 12px;
    }
  }

  a:hover {
    color: #fff;
  }
}

.login_btn{
  height: 48px;
    background-color: #06b4ef;
    border-radius: 50px 50px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.past_hour{
  color: #39c6ec;
}

.sub_menu{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  font-size: 14;
  font-weight: bolder;
}

.sub_menu_item{
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.sub_menu_item:hover{
  display: flex;
  flex-direction: row;
  padding: 16px;
  cursor: pointer;
}

.market_header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px;
  padding: 0px 8px;
  background: #002382;
  color: white;
  width: 100%;
}

.market_item{
  line-height: 1.5;
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  flex-direction: column;
}

.ant_layout_header {
  display: flex;
  align-items: center;
  min-width: 1200px;
  padding: 0 10px;
  height: 60px;
  line-height: 48px;
  font-size: 14px;
  background:#131e33;
  color: var(--header-text-color);

  &:not(.no-border) {
    border-bottom: 1px solid rgba(49, 58, 86, 0.5);
  }

  .logo {
    cursor: pointer;

    img {
      height: 56px;
      width: 80px;
    }
  }

  .action-group {
    display: flex;

    > * {
      margin: 0 10px;
    }

    &.left {
      margin-left: 15px;
    }

    &.right {
      margin-left: auto;
    }

    a {
      color: var(--header-text-color);
    }

    [class^="auth"] > * {
      display: inline-block;
      margin: 0 10px;
      line-height: 48px;
    }

    [class*="auth"] > * {
      margin: 0 10px;
    }

    button {
      font-size: 12px;
    }
  }

  a:hover {
    color: #fff;
  }
}

.ant-dropdown-menu.dropdown-user {
  min-width: 200px;

  li.information {
    line-height: 1;
    height: 100%;
    margin: 0 auto;
    width: 85%;
    padding: 15px 0;
    border-bottom: 1px solid #374262;
    margin-bottom: 10px;
    &:hover {
      background-color: transparent !important;
    }
  }
}