<template>
  <z-content class="page-assets">

      <HeaderExchange />
    <div class="container">
      <ul class="assets-menu">
        <router-link
          tag="li"
          to="balance"
          :class="{ selected: $route.path === '/assets/balance' }"
        >
          Balance
        </router-link>
        <router-link
          tag="li"
          to="history"
          :class="{ selected: $route.path === '/assets/history' }"
        >
          History
        </router-link>
      </ul>
      <router-view />
    </div>
  </z-content>
  
</template>

<script lang="ts">
import HeaderExchange from "@/layouts/desktop/_header.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    HeaderExchange
  },
})
export default class Home extends Vue {
  page = 1;

  
}
</script>