<template>

  <z-content class="page-home">
      <HeaderExchange />
    <div class="header_container" >
      
      <Preview />
      <FeatureMarkets class="container" />
    </div>
    <div class="cryptoCurrencies_container" >
      <div class="explore_logo_container" >
        <img src="@/assets/img/Quantelic_icon_color.png" height="12%" width="12%" />
      </div>
      <div class="explore_logo_container" >
        <h1 >Exchange Chart</h1>
      </div>
    </div>
    
    <MarketList class="container" />
    <div class="advantages_container" >

      <Advantages class="container" />
 
    </div>
    <div class="cryptoCurrencies_container" >
      <div class="explore_logo_container" >
        <img src="@/assets/img/Quantelic_icon_color.png" height="12%" width="12%" />
      </div>
      <div class="explore_logo_container" >
        <h1 >Explore Cryptocurrencies</h1>
      </div>
    </div>
    <div class="progress_btn_container" >
      <img src="@/assets/img/Bottom_illustration.png" height="10%" width="75%" />
    </div>
     </z-content>
</template>

<script lang="ts">
import Preview from "@/layouts/desktop/home/Preview.vue";
import HeaderExchange from "@/layouts/desktop/_header.vue";
import MarketList from "@/layouts/desktop/home/market-list";
import FeatureMarkets from "@/layouts/desktop/home/FeatureMarkets.vue";
import Advantages from "@/layouts/desktop/home/Advantages.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    Preview,
    MarketList,
    FeatureMarkets,
    Advantages,
    HeaderExchange
  },
})
export default class Home extends Vue {
  page = 1;

  created() {
    if (localStorage.getItem("favorites") === null)
      localStorage.setItem("favorites", "");
  }
}
</script>
