<template>
  <z-content class="page-auth">
    <!-- <div class="auth-box">
      <div>
        <h3 class="title" v-text="$t('page.auth.sign_in')" />
        <form @submit.prevent="login()">
          <auth-input
            v-model="email"
            name="email"
            :placeholder="$t('page.global.placeholder.email')"
            :placeholder-need="true"
            :error="email_error"
          />
          <auth-input
            v-model="password"
            name="password"
            type="password"
            :placeholder="$t('page.global.placeholder.password')"
            :placeholder-need="true"
            :error="password_error"
          />
          <z-recaptcha @verify="on_captcha_verifed" @expired="on_captcha_expired" />
          <auth-button type="submit" :loading="auth_loading" :disabled="button_disabled">
            {{ $t("page.global.action.login") }}
          </auth-button>
          <div>
            <router-link to="forgotpassword" class="forgot">
              {{ $t("page.auth.sign_in.forgot_password") }}
            </router-link>
            <div class="text-right signup">
              {{ $t("page.auth.sign_in.no_account") }}
              <router-link to="signup" v-text="$t('page.auth.sign_in.to_sign_up')" />
            </div>
          </div>
        </form>
      </div>
    </div> -->

     <div class="container text-center  cpage ">
      <img class="img-fluid mt-3 mb-2" src="@/assets/img/quanicon.png" alt="QuantelicLogo" style="max-width:100px;">
      <h4>User Login</h4>
      <hr class="mainhr">
      <div id="loginform" class="mx-auto mt-5">
        <div class="row g-0 ">
          <div class="col-md-5 sidesection">

          </div>
          <div class="col-md-7 ">
            <h4 class="pt-5">Login</h4>
            <hr style="width:100%;">
             <form @submit.prevent="login()">
              <div class="row">
                <div class="col- form-group mt-3 mb-3">
                  <label for="nameInput" class="form-label form-control-lg">E-Mail id</label>
                  <auth-input 
                    type="text" 
                    id="userRegisteredid" 
                    required 
                    aria-label="userName"
                    v-model="email"
                    name="email"
                    :placeholder="$t('page.global.placeholder.email')"
                    :placeholder-need="false"
                    :error="email_error"
            />
                </div>
                <div class="col- form-group mt-3 mb-1">
                  <label for="nameInput" class="form-label form-control-lg">Password</label>
                  <auth-input
                    id="userPassword"
                    required 
                    v-model="password"
                    name="password"
                    type="password"
                    :placeholder="$t('page.global.placeholder.password')"
                    :placeholder-need="true"
                    :error="password_error"
            />
                </div>
                <z-recaptcha @verify="on_captcha_verifed" @expired="on_captcha_expired" />
          
              </div>
              <div id="loginSmallText" class="row  ">

                <div class="col-md-6   form-group mb-3 ">
                  <p class="fs-6 text" style="color:#2B3990;"> 
                    <router-link to="forgotpassword" class="forgot">
                        Forgot Password
                    </router-link> 
                  </p>
                </div>
                <div class="col-auto form-group mx-auto text-end">
                  <p class="fs-6 text" style="color:#2B3990;"> Not registered yet?  <router-link to="signup" v-text="$t('page.auth.sign_in.to_sign_up')" /> </p>
                </div>
              </div>
              <div class="row ">
                <div class="col form-group mb-3 text-center">
                  <auth-button 
                   type="submit" :loading="auth_loading" :disabled="button_disabled">SUBMIT
                   </auth-button>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
    <modal-totp
      ref="modal-totp"
      :loading="auth_loading"
      @submit="onSubmitTotp"
      @close="modalClose"
    />
  </z-content>
</template>

<script lang="ts">
import { Mixins, Component, Watch } from "vue-property-decorator";
import ModalTotp from "@/layouts/desktop/modal/_modal_totp.vue";
import { LoginMixin } from "@/mixins/page";

@Component({
  components: {
    "auth-input": () => import("@/components/desktop/auth-input.vue"),
    "auth-button": () => import("@/components/desktop/auth-button.vue"),
    "modal-totp": ModalTotp,
  }
})
export default class SignIn extends Mixins(LoginMixin) {
  public $refs!: {
    "modal-totp": ModalTotp;
  };

  url_callback = "/";

  modalClose() {
    this.need2fa = false;
  }

  openTotp() {
    this.$refs["modal-totp"].create();
  }

  @Watch("need2fa")
  onNeed2FAChange(need2fa: boolean) {
    if (need2fa) {
      this.openTotp();
    }
  }
}
</script>

<style lang="less">
@import "~@/assets/css/views/desktop/auth";
</style>
