<template>
  <z-content class="page-auth">
    <!-- <div class="auth-box">
      <div>
        <h3 class="title" v-text="$t('page.auth.sign_up')" />
        <form autocomplete="off" @submit.prevent="register">
          <auth-input
            v-model="email"
            name="email"
            :placeholder="$t('page.global.placeholder.email')"
            :placeholder-need="true"
            :error="email_error"
          />
          <auth-input
            v-model="password"
            name="password"
            type="password"
            :placeholder="$t('page.global.placeholder.password')"
            :placeholder-need="true"
            :error="password_error"
          />
          <auth-input
            v-model="confirm_password"
            name="confirm_password"
            type="password"
            :placeholder="$t('page.global.placeholder.confirm_password')"
            :placeholder-need="true"
            :error="confirm_password_error"
          />
          <auth-input
            v-model="refid"
            name="refid"
            :placeholder="$t('page.global.placeholder.refid')"
            :error="refid_error"
          />
          <z-recaptcha @verify="on_captcha_verifed" @expired="on_captcha_expired" />
          <auth-button
            type="submit"
            :loading="auth_loading"
            :disabled="button_disabled"
          >
            {{ $t("page.global.action.sign_up") }}
          </auth-button>
        </form>
      </div>
    </div> -->

    <div class="container text-center  cpage ">
      <img class="img-fluid mt-2 mb-2" src="@/assets/img/quanicon.png" alt="QuantelicLogo" style="max-width:100px;">
      <h4>New User</h4>
      <hr class="mainhr">
      <div id="loginform" class="mx-auto mt-5">
        <div class="row g-0 ">
          <div class="col-md-5 sidesection">

          </div>
          <div class="col-md-7 ">
            <h4 class="pt-5">Sign Up</h4>
            <hr style="width:100%;">
            <form autocomplete="off" @submit.prevent="register">
              <div class="row">
                <div class="col- form-group mt-3 mb-3">
                  <label for="nameInput" class="form-label form-control-lg">E-Mail id</label>
                  <auth-input 
                    id="newUserEmailId" 
                    v-model="email"
                    name="email"
                    :placeholder="$t('page.global.placeholder.email')"
                    :placeholder-need="true"
                    :error="email_error" />
                </div>
                <div class="col- form-group mt-3 mb-1">
                  <label for="nameInput" class="form-label form-control-lg">Login Password</label>
                  <auth-input 
                    v-model="password"
                    name="password"
                    type="password"
                    :placeholder="$t('page.global.placeholder.password')"
                    :placeholder-need="true"
                    :error="password_error" 
                    id="newPassword" 
                    required 
                    aria-label="newpassword" />
                </div>
                <div class="col- form-group mt-3 mb-1">
                  <label for="nameInput" class="form-label form-control-lg">Confirm Password</label>
                  <auth-input 
                    v-model="confirm_password"
                    name="confirm_password"
                    type="password"
                    :placeholder="$t('page.global.placeholder.confirm_password')"
                    :placeholder-need="true"
                    :error="confirm_password_error" 
                    id="confirmNewPassword" 
                    required 
                    aria-label="confirmNewPassword" />
                </div>
                <div class="col- form-group mt-3 mb-1">
                  <label for="nameInput" class="form-label form-control-lg"> Referral uid (optional)</label>
                  <auth-input 
                    v-model="refid"
                    name="refid"
                    :placeholder="$t('page.global.placeholder.refid')"
                    :error="refid_error"
                    id="confirmNewPassword" 
                    aria-label="confirmNewPassword" />
                </div>
              </div>
              <z-recaptcha @verify="on_captcha_verifed" @expired="on_captcha_expired" />
              <div id="loginSmallText" class="row  ">

                <div class="col-12 form-group  text-center mt-3">
                  <p class="fs-6 text" style="color:#2B3990;">Already registered?  <router-link to="signin" class="forgot">
                        Sign In
                    </router-link> </p>
                </div>
              </div>
              <div class="row ">
                <div class="col form-group mb-3 text-center">
                  <auth-button 
                    type="submit"
                    :loading="auth_loading"
                    :disabled="button_disabled"
                    name="button">
                      SUBMIT
                  </auth-button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </z-content>
</template>

<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { UserController } from "@/controllers";
import { AuthMixin } from "@/mixins";

@Component({
  components: {
    "auth-input": () => import("@/components/desktop/auth-input.vue"),
    "auth-button": () => import("@/components/desktop/auth-button.vue")
  }
})
export default class SignUp extends Mixins(AuthMixin) {
  email = "";
  password = "";
  confirm_password = "";
  refid = "";

  button_rules = ["auth_loading", "email", "password", "confirm_password", "refid", "captcha"];

  mounted() {
    if (this.$route.query.refid) this.refid = this.$route.query.refid as string;
  }

  async register() {
    if (this.auth_loading) return;

    await UserController.register({
      email: this.email,
      password: this.password,
      refid: this.refid,
      captcha_response: this.captcha_response,
    });
  }
}
</script>

<style lang="less">
@import "~@/assets/css/views/desktop/auth";
</style>
