<template>
<div>
    <HeaderExchange />
  <z-content class="page-auth">
      <div class="container text-center  cpage ">
      <img class="img-fluid mt-5 mb-2" src="@/assets/img/quanicon.png" alt="QuantelicLogo" style="max-width:150px;">
      <h4>Contact</h4>
      <hr class="mainhr">
      <p>How can we Help</p>
      <p>We Would love to hear it form you</p>
      <div id="contactform" class="mx-auto mt-5 mb-5">

        <div class="col ">
          <h4 class="pt-5">Please fill the contact form</h4>
          <hr style="width:100%;">
          <form id="insideform" class="text-center p-5 php-email-form" action="" method="post" role="form"
            data-aos="fade-up" data-aos-delay="100">
            <div class="row text-start">
              <div class=" mt-3 mb-2 ">
                <label for="nameInput" class="form-label form-control-lg">Name</label>
                <input class="form-control form-control-lg" type="text" name="name" id="userName" placeholder=""
                  required aria-label="userName">
              </div>
            </div>
            <div class="row text-start">
              <div class="col-md-6 form-group mt-3 mb-2">
                <label for="inputEmail4" class="form-label form-control-lg">E-mail id</label>
                <input class="form-control form-control-lg" type="text" name="eamil" id="userEmail" placeholder=""
                  required aria-label="userEmail">
              </div>
              <div class="col-md-6 form-group mt-3 mb-2">
                <label for="inputEmail4" class="form-label form-control-lg">Phone</label>
                <input class="form-control form-control-lg" type="text" name="contact" id="userContact" placeholder=""
                  required aria-label="userContact">
              </div>
            </div>
            <div class="form-group mt-3 mb-2 text-start">
              <label for="inputEmail4" class="form-label form-control-lg">Select your Query</label>
              <select class="form-select form-control-lg " id="floatingSelect"
                aria-label="Floating label select example">
                <option selected>One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

            </div>
            <div class="col form-group mt-3  mb-2 text-start">
              <label for="inputEmail4" class="form-label form-control-lg">Your message</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <button class="btn btn-primary mt-4" type="button" name="button">SUBMIT</button>
          </form>
        </div>
      </div>
    </div>
      </z-content>
</div>
</template>


<script lang="ts">
import { Mixins, Component } from "vue-property-decorator";
import { UserController } from "@/controllers";
import { AuthMixin } from "@/mixins";
import HeaderExchange from "@/layouts/desktop/_header.vue";

@Component({
  components: {
    "auth-input": () => import("@/components/desktop/auth-input.vue"),
    "auth-button": () => import("@/components/desktop/auth-button.vue"),
    HeaderExchange
  }
})

export default class ContactForm extends Mixins(AuthMixin) {
  email = "";
  password = "";
  confirm_password = "";
  refid = "";

  button_rules = ["auth_loading", "email", "password", "confirm_password", "refid", "captcha"];

  mounted() {
    if (this.$route.query.refid) this.refid = this.$route.query.refid as string;
  }

  async register() {
    if (this.auth_loading) return;

    await UserController.register({
      email: this.email,
      password: this.password,
      refid: this.refid,
      captcha_response: this.captcha_response,
    });
  }
}
</script>

<style lang="less">
@import "~@/assets/css/views/desktop/auth";
</style>
