<template>
  <div class="advantages">
    <div class="cryptoCurrencies_container">
      <div class="explore_logo_container" >
        <img src="@/assets/img/Quantelic_icon_white.png" height="12%" width="12%" />
      </div>
      <div class="explore_logo_container" >
      <div class="title" v-text="title" />
      </div>
      <div class="description" >
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia repellat harum, eligendi maxime error laudantium, expedita ab ea sunt nisi sint, id nam tempore odio distinctio qui cupiditate? Doloribus, exercitationem.
      </div>
    </div>
    <ul class="about-content">
      <li v-for="(data, index) in contentOne" :key="index">
    <fieldset>
      <legend style="text-align:center"><img :src="data.img" alt="Trulli" style="display:flex;width:80px;text-align:center"></legend>
        <!-- <img :src="data.img" height="30px" width="30px" /> -->
        <div>
          <div class="title" v-text="data.title" />
          <div class="desc" v-text="data.desc" />
        </div>
    </fieldset>
      </li>
    </ul>

    <ul class="about-content">
      <li v-for="(data, index) in contentTwo" :key="index">
    <fieldset> 
       <legend style="text-align:center"><img :src="data.img" alt="Trulli" style="display:flex;width:80px;text-align:center"></legend>
        <!-- <img :src="data.img" height="30px" width="30px" /> -->
        <div>
          <div class="title" v-text="data.title" />
          <div class="desc" v-text="data.desc" />
        </div>
    </fieldset>
      </li>
    </ul>
    <div class="progress_btn_container" >

      <button class="progress_btn" > Register Now! </button>
  
    </div></div>
</template>

<script>
import config from "@/config";
import advantage_example from "@/assets/img/icon_1.png";
import risk from "@/assets/img/icon_2.png"
import team from "@/assets/img/icon_3.png"
import tech from "@/assets/img/icon_4.png"
import liquid from "@/assets/img/icon_5.png"
import globalResource from "@/assets/img/icon_6.png"

export default {
  data: () => ({
    title: "QTX Features",
    contentOne: [
      {
        img: advantage_example,
        title: "Save time everyday by using",
        desc:
          "daily summary to keep up to date"
      },
      {
        img:team ,
        title: "Browse our full coinlist to seechanges in",
        desc:
          "all your coins and tokens"
      },
      {
        img: risk,
        title: "Get help choosing an investment with",
        desc:
          "the our A.I or contact us"
      }
    ],
    contentTwo: [
      {
        img: tech,
        title: "Learn loads of information about coins",
        desc:
          "like BTC,LTC,etc and many more"
      },
      {
        img: liquid,
        title: "Check in on our active ICOs happening in",
        desc:
          "the market today and making an investment"
      },
      {
        img: globalResource,
        title: "Our noticeboard to make sure you are",
        desc:
          "the first to know about coin changes"
      }
    ]
  })
};
</script>
