<template>
  <div class="preview">
      <!-- <img class="builder_logo" src="@/assets/img/Top illustration_1.png" />
       <img class="notice_logo" src="@/assets/img/font.png" /> -->
   <!-- <div class="fixed">
      <h1>QUANTELIC EXCHANGE</h1>  
      <div class="banners">
        <swiper class="slide_viewer" :options="swiperOption">
          <swiper-slide v-for="(banner, index) in banners" :key="index">
            <a
              target="_blank"
              :href="banner.url"
            >
              <img :src="banner.image" />
            </a>
          </swiper-slide>
          <div slot="pagination" class="swiper-pagination" />
        </swiper>
      </div>
    </div> -->
    <!-- <canvas ref="canvas" /> -->
    <!-- <Broadcasts /> -->
  </div>
</template>

<script lang="ts">
import Broadcasts from "./Broadcasts.vue";
import { canvas } from "@/assets/js";
import { Vue, Component } from "vue-property-decorator";
// import { PublicController } from "@/controllers";
import Banner1 from "@/assets/img/banner/banner_1.jpg"
import Banner2 from "@/assets/img/banner/banner_2.jpg"
import Banner3 from "@/assets/img/banner/banner_3.jpg"
import Banner4 from "@/assets/img/banner/banner_4.jpg"
import Content from "@/assets/img/header.png"

@Component({
  components: {
    Broadcasts
  }
})
export default class Preview extends Vue {
  swiperOption = {
    slidesPerView: 4,
    spaceBetween: 24,
    freeMode: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true
    }
  }

  get banners() {
    const data = [
      {
        uuid:"banner-1",             
        image:Banner1
      },
      {
        uuid:"banner-2",             
        image:Banner2
      },
      {
        uuid:"banner-3",             
        image:Banner3
      },
      {
        uuid:"banner-4",             
        image:Banner4
      }
    ]
    return data;
  }

  mounted() {
    this.draw_canvas();

    window.addEventListener("resize", this.draw_canvas);
  }

  beforeDestroy() {
    window.removeEventListener("resize", this.draw_canvas);
  }

  draw_canvas() {
    canvas(this.$refs["canvas"]);
  }
};
</script>
