.page-auth {
  padding: 16px;
  .auth-box {
    width: 100%;
    display: block;
    padding: 100px 0;
    margin: 0 auto;
    > div {
      background: var(--bg-card-color) ;
      // url("~@/assets/img/signup.jpg") 0 0
      //   no-repeat;
      border-radius: 6px;
      padding-left: 234px;
      padding-top: 50px;
      width: 900px;
      height: 600px;
      margin: 0 auto;
      position: relative;
      .title {
        padding-left: 15px;
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        background-size: auto 30px;
        margin-bottom: 0.5em;
        & {
          color: #52a7f8;
          background: linear-gradient(0deg, #52a7f8, #52a7f8);
          background-size: 5px 30px;
          background-repeat: no-repeat;
          background-position: left 0;
        }
      }
      form {
        width: 450px;
        margin-top: 25px;
        .desc {
          font-size: 14px;
          margin: 0 auto;
          line-height: 20px;
        }
        .icon-email {
          margin: 0 auto;
          margin-top: 25px;
          text-align: center;
        }
        .not-receive-note {
          margin-top: 25px;
          color: $header-text-color;
          h3 {
            font-size: 14px;
            font-weight: normal;
          }
          li {
            font-size: 12px;
            line-height: 20px;
          }
          &+div {
            margin-top: 25px;
          }
        }
        > div {
          a {
            color: $selected-blue-color;
          }
          .forgot {
            float: left;
          }
          .signup {
            color: #bacae4;
          }
        }
      }
    }
  }
  .signin-box {
    width: 100%;
    display: block;
    padding: 100px 0;
    margin: 0 auto;
    > div {
      background: var(--bg-card-color) url("~@/assets/img/Quantelic_icon_white.png") 0 0
        no-repeat;
      border-radius: 6px;
      padding-left: 376px;
      padding-top: 50px;
      width: 900px;
      height: 600px;
      margin: 0 auto;
      position: relative;
      .title {
        padding-left: 15px;
        font-size: 28px;
        height: 30px;
        line-height: 30px;
        background-size: auto 30px;
        margin-bottom: 0.5em;
        & {
          color: #52a7f8;
          background: linear-gradient(0deg, #52a7f8, #52a7f8);
          background-size: 5px 30px;
          background-repeat: no-repeat;
          background-position: left 0;
        }
      }
      form {
        width: 450px;
        margin-top: 25px;
        .desc {
          font-size: 14px;
          margin: 0 auto;
          line-height: 20px;
        }
        .icon-email {
          margin: 0 auto;
          margin-top: 25px;
          text-align: center;
        }
        .not-receive-note {
          margin-top: 25px;
          color: $header-text-color;
          h3 {
            font-size: 14px;
            font-weight: normal;
          }
          li {
            font-size: 12px;
            line-height: 20px;
          }
          &+div {
            margin-top: 25px;
          }
        }
        > div {
          a {
            color: $selected-blue-color;
          }
          .forgot {
            float: left;
          }
          .signup {
            color: #bacae4;
          }
        }
      }
    }
  }

  @font-face {
    font-family: 'bunkentechsans';
    src: url('~@/assets/fonts/bunkentechsansprowide-heavyit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  
  
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  /*--------------------------------------------------------------
  # Variables
  --------------------------------------------------------------*/
  :root {
    --mainfonts: 'Montserrat', sans-serif;
    --textcolor: #2B3990;
    --bordercolor: #9767CD;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  body {
  
    text-rendering: optimizeSpeed;
  }
  
  a {
    color: var(--secondaryColor);
    text-decoration: none;
    font-size: inherit;
  }
  
  a:hover {
    color: inherit;
  }
  
  h1 {
    background: -webkit-linear-gradient(270deg, rgba(3, 75, 253, 1) 0%, rgba(2, 160, 228, 1) 54%, rgba(0, 230, 207, 1) 10%, rgba(2, 164, 226, 1) 70%, rgba(0, 251, 201, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'bunkentechsans', serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    display: inline;
  }
  
  h1, h2 {
    font-family: 'bunkentechsans', serif;
    color: white;
    font-size: 3.5rem;
  }
  
  p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5rem;
    word-break: break-all;
    white-space: normal;
    margin: 0;
  }
  
  hr {
    background: -webkit-linear-gradient(270deg, rgba(3, 75, 253, 1) 0%, rgba(2, 160, 228, 1) 54%, rgba(0, 230, 207, 1) 10%, rgba(2, 164, 226, 1) 70%, rgba(0, 251, 201, 1) 100%);
    height: 2.5px !important;
    opacity: 1;
    width: 50%;
    margin-top: 50px;
    margin: auto;
  }
  
  em {
    padding-bottom: 100px;
  }
  
  h3 {
    color: transparent;
  }
  
  h4 {
    font-family: var(--mainfonts);
    color: var(--textcolor);
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  /*--------------------------------------------------------------
  # hero
  --------------------------------------------------------------*/
  #hero {
    background: url("~@/assets/img/herobg.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #hero p {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 2.5rem;
    word-break: break-all;
    white-space: normal;
    margin: 0;
  }
  
  .img-fluid {
    width: 80%;
  }
  
  @media (max-width:576px) {
    h1, h2 {
      font-size: 1.97rem;
    }
  
    #hero img {
      width: 80% !important;
    }
  
    hr {
      width: 80%;
    }
  }
  
  /*--------------------------------------------------------------
   # Contact forms
   --------------------------------------------------------------*/
  #contactform, #loginform {
    width: 80%;
    background-color: white;
    border-radius: 28px;
    color: white;
    -webkit-box-shadow: 0px 0.6px 2.2px rgba(0, 0, 0, 0.032), 0px 1.3px 5.3px rgba(0, 0, 0, 0.04), 0px 2.5px 10px rgba(0, 0, 0, 0.045), 0px 4.5px 17.9px rgba(0, 0, 0, 0.049), 0px 8.4px 33.4px rgba(0, 0, 0, 0.054), 0px 20px 80px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0.6px 2.2px rgba(0, 0, 0, 0.032), 0px 1.3px 5.3px rgba(0, 0, 0, 0.04), 0px 2.5px 10px rgba(0, 0, 0, 0.045), 0px 4.5px 17.9px rgba(0, 0, 0, 0.049), 0px 8.4px 33.4px rgba(0, 0, 0, 0.054), 0px 20px 80px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0.6px 2.2px rgba(0, 0, 0, 0.032), 0px 1.3px 5.3px rgba(0, 0, 0, 0.04), 0px 2.5px 10px rgba(0, 0, 0, 0.045), 0px 4.5px 17.9px rgba(0, 0, 0, 0.049), 0px 8.4px 33.4px rgba(0, 0, 0, 0.054), 0px 20px 80px rgba(0, 0, 0, 0.07);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=6px, Color='black', Positive='false'
      );
    /* IE 5.5 */
    border-collapse: separate;
    /* Required by IE 9 */
  }
  
  #contactform .btn, #loginform .btn {
    background: var(--textcolor);
    border-radius: 10rem;
    color: white;
    width: 150px;
    padding: 10px 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  #contactform .btn:hover, .btn:focus {
    width: 250px;
    box-shadow: none;
  }
  
  #contactform textarea {
    border-radius: .5rem;
  }
  
  .cpage p:nth-child(4) {
    color: var(--textcolor) !important;
    font-size: 1.9rem;
    font-weight: 600;
  }
  
  .cpage p:nth-child(5) {
    color: var(--textcolor) !important;
    font-size: 1.2rem;
    font-weight: 400;
  }
  
  .cpage h4:nth-child(1) {
    font-size: 2rem;
  }
  
  label, option {
    display: flex;
    color: var(--textcolor);
    text-align: left !important;
    margin-bottom: -8px;
  }
  
   .form-select:focus,
   .form-select:hover,
   .form-control:focus,
   .form-control:hover
    {
    border-color: var(--bordercolor);
    background: #F7F7F7;
    box-shadow: none;
    /* first gradient is for card background, second for border background */
  }
  
  .form-select, .form-control {
    border-radius: 10rem;
    color: var(--textcolor);
  }
  
  #contactpage hr, #loginpage hr {
    width: 350px;
    margin-bottom: 20px;
  
    background-image: -webkit-linear-gradient(97deg, rgba(151, 103, 205, 1) 19%, rgba(1, 203, 254, 1) 100%);
    background-image: linear-gradient(97deg, rgba(151, 103, 205, 1) 19%, rgba(1, 203, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9767cd", endColorstr="#01cbfe", GradientType=1);
  }
  
  .sidesection {
  
    background-image: -webkit-linear-gradient(97deg, rgba(151, 103, 205, .1) 19%, rgba(1, 203, 254, .1) 100%);
    background-image: url("~@/assets/img/quanteliclighticon.png"), linear-gradient(97deg, rgba(151, 103, 205,1) 19%, rgba(1, 203, 254, 1) 100%) ;
    background-size: contain;
    background-repeat: no-repeat;
  
    background-position: center ;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9767cd", endColorstr="#01cbfe", GradientType=1);
  }
  
  @media (max-width:900px) {
    #contactform, #loginform{
      width: 95% !important;
    }
  
    #insideform {
      padding: 20px !important;
    }
  }
  
  @media (max-width:576px) {
  
  
    .mainhr {
      width: 60% !important;
    }
  
  
  }
  
  /*--------------------------------------------------------------
   # Login forms
   --------------------------------------------------------------*/
  #loginform {
    overflow: hidden;
  }
  
  #loginform .fs-6{
    font-size: .8rem !important;
  }
  
  #loginform .btn {
    width: 70%;
  }
  
  #loginform  .btn:hover {
    width: 100%;
    box-shadow: none;
  }
  
}
