.page-home {
  min-height: 100vh;
  .feature-markets {
    margin: 13% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      position: relative;
      height: 115px;
      width: 225px;
      padding: 16px;
      background-color: white;
      color: black;
      // border: 1px solid var(--bg-card-color);
      border-radius: 5px;
      cursor: pointer;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.75);
      border-radius: 20px;
      .name {
        font-weight: normal;
        color: black;
        font-size: 14px;
        display: flex;
        align-items: center;
        i {
          font-size: 12px;
          font-style: normal;
          color: #5a678a;
          border: 1px solid #5a678a;
          padding: 0 2px;
          margin-left: 4px;
          border-radius: 2px;
        }
      }
      .rate {
        height: 20px;
        line-height: 20px;
        padding: 0 4px;
        font-size: 12px;
        color: #fff;
        z-index: 1;
        float: right;
      }
      .price {
        padding-top: 4px;
        position: relative;
        z-index: 1;
        color: black;
        span {
          font-size: 16px;
          color: black;
          margin-right: 4px;
        }
        i {
          font-size: 12px;
          font-style: normal;
          color: #000;
        }
      }
      .vol {
        position: relative;
        padding-top: 4px;
        font-size: 12px;
        z-index: 1;
        word-break: break-all;
        span {
          color: #8fa7cd;
          padding-right: 6px;
        }
        i {
          font-style: normal;
          color: #000;
        }
      }
      .svg-box {
        display: block;
        width: 100%;
        height: 50px;
        position: absolute;
        left: 0;
        bottom: -1px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
        border-radius: 0px 20px;
      }
      &:last-child {
        margin: 0;
      }
      &:hover {
        border: 1px solid #68769d;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
        transition: all 0.2s linear;
      }
    }
  }
  .market-list {
    // background: var(--bg-card-color);
    border-radius: 8px;
    padding: 2%;
    .menu-table {
      display: flex;
      ul {
        flex-grow: 1;
        flex-shrink: 1;
        padding: 15px 0;
        display: flex;
        li {
          border: 0;
          box-shadow: 0 4px 14px rgba(0, 0, 0, 0.75);
          padding: 1%;
          border-radius: 20px;
          margin: 0 18px;
          text-align: center;
          color: black;
          position: relative;
          cursor: pointer;
          &.selected {
            font-weight: 400;
            background-color: #1d3863;
            color: white;
            &:after {
              content: "";
              width: 20px;
              height: 2px;
              background: $selected-blue-color;
              position: absolute;
              left: 50%;
              margin-left: -10px;
              bottom: -4px;
            }
          }
        }
      }
    }
    .ex_table {
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 4px 14px rgba(0, 0, 0, 0.75);
      dt {
        padding: 0 25px 0 40px;
        color: var(--color-gray);
        border-bottom: 1px solid var(--border-color);
        span {
          height: 40px;
          line-height: 40px;
          cursor: pointer;
          color: black;
          &.actions {
            flex: 0 1 70px;
          }
          .sorter {
            font-size: 14px;
            i {
              font-size: 6px;
              margin-left: 4px;
            }
          }
        }
      }
      dd {
        p {
          cursor: pointer;
          height: 43px;
          padding: 0 25px 0 10px;
          border-bottom: 1px solid var(--border-color);
          color: var(--text-default-color);

          &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            transition: background-color 0.35s;
          }
          i {
            font-size: initial;
            line-height: 43px;
            margin-right: 10px;
            cursor: pointer;
            color: $blue-dark-color;
          }
          > span {
            height: 43px;
            line-height: 43px;
            color: grey;
            &.actions {
              flex: 0 1 70px;
              img {
                width: 16px;
                height: 16px;
              }
            }
            &.last .price-usd {
              font-size: 12px;
              font-weight: normal;
              color: #d4dae6;
              font-style: normal;
            }
          }
        }
      }
    }
  }
  .preview {
    align-items: center;
    display: flex;
    position: relative;
    height: 470px;
    flex-direction: column;
    justify-content: center;
    .builder_logo{
      height: 60%;
    vertical-align: middle;
    width: 15%;
    margin-top: 18%;
    }
    .notice_logo{
      height: 100%;
      vertical-align: middle;
      width: 40%;
    }
    .fixed {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      h1 {
        margin: 71px auto 28px;
        font-size: 48px;
        font-weight: bolder;
        text-align: center;
        color: #fff;
      }
      .banners {
        width: 1200px;
        height: 213px;
        display: flex;
        margin: 0 auto;
        margin-top: 37px;

        .slide_viewer {
          height: 100%;
          width: 100%;
          overflow: hidden;
          position: relative;
        }

        .slide_group {
          height: 100%;
          position: relative;
          width: 100%;
        }

        .swiper-slide {
          display: flex;
          &:first-child {
            display: flex;
          }
          a {
            width: 100%;
            margin: auto;
            cursor: pointer;
            transition: all 0.2s linear;
            &:first-child {
              margin-left: 0;
            }
            &:last-child {
              margin-right: 0;
            }
            > img {
              width: 100%;
              border-radius: 6px;
            }
            &:hover {
              transform: translateY(-5px);
              img {
                border: 1px solid #68769d;
                box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
              }
            }
          }
        }
        .swiper-pagination {
          left: 0;
          position: absolute;
          right: 0;
          bottom: 4px;
          height: 16px;
          text-align: center;
          transition: opacity 0.3s;
          z-index: 1;
          span.swiper-pagination-bullet{
            display: inline-block;
            vertical-align: bottom;
            background-color: hsla(0, 0%, 100%, 0.2);
            width: 10px;
            height: 10px;
            margin-right: 20px;
            border-radius: 5px;
            outline: none;
            cursor: pointer;
            transition: all 0.5s ease-out;
            opacity: 1;
            &-active {
              background-color: var(--blue-color);
              width: 60px;
            }
          }
        }
      }
    }
  }
  
  .cryptoCurrencies_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .explore_logo_container{
    padding: 1%;
    display: flex;
    justify-content: center;
    > .title {
      font-size: 34px;
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 80px;
        height: 3px;
        margin-left: -40px;
        opacity: 0.75;
        background: var(--blue-color);
      }
    }
    h1{
      font-size: 34px;
      color: #131e33;
      font-weight: bolder;
    }
  }

  .progress_btn_container{
    padding: 4%;
    display: flex;
    justify-content: center;
  }
  .progress_btn{
    border-radius: 20px;
    width: 50%;
    background-color: #131e33;
    padding: 8px;
    justify-content: center;
    font-size: 16px;
    font-weight: bolder;
  }

  .advantages_container {
    background: url("~@/assets/img/Middle.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6% 10%;
    margin-left: 0%;
  }

  .header_container{
    background: url("~@/assets/img/Header.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .description{
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: white;
    width: 75%;
    text-align: center;
    padding-bottom: 16px;
  }

  .advantages {
    padding: 75px 0;
    > .title {
      font-size: 34px;
      text-align: center;
      position: relative;
      margin-bottom: 50px;
      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        width: 80px;
        height: 3px;
        margin-left: -40px;
        opacity: 0.75;
        background: var(--blue-color);
      }
    }
    ul.about-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 44px;
        li {
          width: 30%;
          height: 33%;
          display: flex;
          justify-content: space-between;
          align-items: center;
              >fieldset{
                width: 100%;
                justify-content: center;
                background-color: white;
                position: relative;
                align-items: center;
                font-size: 16px;
                text-align: center;
                display: flex;
                color: black;
                padding: 8px;
                height: 240px;
                border-radius: 20px;
                box-shadow: 0 4px 14px rgba(0, 0, 0, 0.75);
                >legend{
                  display: flex;
                  justify-content: center;
                  > img{
                    background: white;
                    width: 30px;
                    border-radius: 20px;
                    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.75);
                    padding: 4%;
                  }
                }
              }
              > div {
                width: 198px;
                font-weight: 600;
                line-height: 30px;
                .title {
                  font-size: 18px;
                }
                .desc {
                  font-size: 14px;
                  margin-top: 18px;
                  color: var(--color-gray);
                }
              }
            }
        
    }
    
    }
}
