.history {
  .setting-body {
    padding-bottom: 24px;
    th {
      font-weight: normal;
      color: var(--color-gray);
      padding: 8px 0;
      border-bottom: 1px solid var(--border-color);
    }
    .history-row {
      color: white;
      td {
        color: white;
        padding: 8px 0;
      }
    }
    .table-content {
      color: white;
      position: relative;
      padding-bottom: 12px;
      i {
        vertical-align: middle;
      }
    }
  }
}