.information .setting-body {
  color: white;
  .row {
    color: white;
    td {
        padding: 20px 0;
    }
    .name {
      text-align: left;
      width: 100px;
    }
    .value, .action {
      text-align: right;
      width: 125px;
    }
  }
}
