.kyc .setting-body {
  color: white;
  margin-top: 12px;
  .flex-form-row {
    display: flex;

    .form-row {

    }

    .form-row + .form-row {
      margin-left: 12px;

      .form-control {
        width: 100%;
      }

      .form-label {
        width: auto;
        padding-right: 12px;
      }
    }
  }
  .form-row {
    padding-bottom: 20px;
  }
  .form-label {
    width: 100px;
  }
  .form-control {
    width: calc(100% - 100px);

    input {
      width: 100%;
      height: 50px;
      border: 1px solid #405680;
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      outline: none;
      padding: 0 10px;
      box-sizing: border-box;
      color: #fff;
      touch-action: manipulation;
      &::placeholder {
        color: #758aab;
        font-size: 12px;
      }
      &:focus {
        border-color: #b5cfff;
      }
    }
    &.upload-photos {
      img {
        width: 220px;
        height: 140px;
      }
      .photos-list {
        li {
          display: flex;
          padding-bottom: 20px;
          .upload-box {
            width: 220px;
            position: relative;
            input {
              position: absolute;
              width: 220px;
              height: 140px;
              left: 0;
              top: 0;
              outline: none;
              cursor: pointer;
              opacity: 0;
              z-index: 10002;
            }
            .img-uploaded {
              border-radius: 4px;
              width: 220px;
              height: 140px;
              position: absolute;
              z-index: 999;
              > img {
                border-radius: 6px;
              }
            }
          }
          &.in-hand .upload-notice {
            color: $warning-color;
          }
        }
        .upload-area {
          width: 220px;
          height: 140px;
          text-align: center;
          background: url("~@/assets/img/upload_img.jpg") 0 0 no-repeat;
          background-size: 100% 100%;
          color: $footer-text-color;
          position: relative;
          border-radius: 6px;
          img {
            margin-top: 40px;
            width: 30px;
            height: 30px;
          }
          p {
            padding-top: 10px;
          }
        }
        .thumbnail-box {
          width: 220px;
          margin-left: 20px;
          border-radius: 6px;
        }
        .upload-notice {
          font-size: 12px;
          flex: 1 1;
          height: 140px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-left: 20px;
        }
      }
    }
    button {
      position: relative;
      width: 600px;
      height: 50px;
      background: #2b93f6;
      color: #fff;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      font-size: 16px;

      &:disabled {
        background: $footer-text-color;
        cursor: not-allowed;
      }
    }
  }
}
