<template>
  <div class="ant-layout-footer">
    <div class="menu-footer">
      <ul>
        <li class="title">
          <img src="@/assets/img/logo.png" />
        </li>
        <!-- <li class="l">
          <a href="#" class="icon-link">
            <i class="zicon-telegram" />
          </a>
          <a href="#" class="icon-link">
            <i class="zicon-twitter" />
          </a>
        </li> -->
      </ul>
      <ul>
        <li class="title">
          About Us
        </li>
        <!-- <li class="m">
          <router-link to="/disclaimer">
          Disclaimer
          </router-link>
        </li> -->
        <!-- <li class="m">
          <a>Example</a>
        </li>
        <li class="m">
          <a>Example</a>
        </li>
        <li class="m">
          <a>Example</a>
        </li> -->
      <!-- </ul>
      <ul>
        <li class="title">
          Example
        </li>
        <li class="m">
          <a>Example</a>
        </li>
        <li class="m">
          <a>Example</a>
        </li>
        <li class="m">
          <a>Example</a>
        </li>
        <li class="m">
          <a>Example</a>
        </li> -->
      </ul>
      <ul class="contact">
        <li class="title">
            <router-link :to="{
              name: 'contactUs'
            }">
                        Contact Us
                    </router-link> 
          
        </li>
        <!-- <li class="m" v-text="`Service: ${contactus.service}`" />
        <li class="m" v-text="`Business: ${contactus.business}`" />
        <li class="m">
          Facebook:
          <a :href="contactus.facebook" target="_blank">Quantelic exchange</a>
          Quantelic Exchange
        </li> -->
      </ul>
    </div>
    <div class="bottom-footer">
      &copy; Quantelic 2022      <!-- <a :href="copyright.link" target="_blank" v-text="copyright.name" />. All
      rights reserved. <router-link to="/disclaimer">
          Disclaimer
          </router-link> -->
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";

@Component
export default class App extends Vue {
  public contactus = {
     service: "service@awt.com",
    business: "business@awt.com",
    facebook: "https://fb.com/awt"
  };

  public copyright = {
    name: "Quantelic Exchange",
    link: "https://www.awt.com/"
  };
}
</script>
